/* 登録・編集画面 form_layout.blade.phpのCSS */
/* モバイル */
@media screen and (max-width: 960px){
    *{
        margin:0;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    body{
        display: flex;
        flex-direction: column;
        background-color: #F5ECF8;

    }
    header{
        text-align: center;
        background-color: #F8AAF3;
        color: white;
        padding: 5% 10%;
    }
    main{
        padding: 0 10%;
        color: #707070;
    }
    button,a{
        display: flex;
        flex-direction: row;
        justify-content: center;
        border: solid 3px;
        border-color: #F8AAF3;
        background-color: white;
        border-radius: 15px;
        color: #707070;
        font-size: 32px;
    }
    a{
        text-decoration: none;
        width: 100px;

    }
    ul{
        list-style: none;
        padding: 0%;
    }
    input, select{
        width: 30%;
    }
    footer{
        margin-top: 5%;
    }
    .container_btn{
        display: flex;
        flex-direction: row;
        justify-content: center;
        border: solid 5px;
        border-color: #F8AAF3;
        border-radius: 30px;
        background-color: white;
        margin-top: 10%;
        padding: 5% 0;
        font-size: 24px;
    }
    .wrapper{
        width: 80%;
    }
    .wrapper_upper h2{
        text-align: center;
        font-weight: lighter;
    }
    .wrapper_bottom{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 60%;
        margin-top: 10%;
    }
    .btn_create{
        display: flex;
        flex-direction: column;
        width: 40%;
    }
    .btn_edit{
        display: flex;
        flex-direction: column;
        width: 40%;
    }
    .container_back{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 5%;
    }

}

@media screen and (min-width: 960px){

*{
    margin:0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
body{
    display: flex;
    flex-direction: column;
    background-color: #F5ECF8;

}
header{
    text-align: center;
    background-color: #F8AAF3;
    color: white;
    font-size: 36px;
    padding: 5% 10%;
}
main{
    padding: 0 10%;
    color: #707070;
}
button, a{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: solid 3px;
    border-color: #F8AAF3;
    background-color: white;
    border-radius: 15px;
    margin-top: 10%;
    color: #707070;
    font-size: 36px;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
    padding: 0%;
}
input, select{
    width: 40%;
    height: 36px;
}
footer{
    margin-top: 5%;
}

.container_btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: solid 5px;
    border-color: #F8AAF3;
    border-radius: 30px;
    background-color: white;
    margin-top: 5%;
    padding: 5% 0;
    font-size: 36px;
}
.wrapper{
    width: 80%;
}
.wrapper_upper h2{
    text-align: center;
    font-weight: lighter;
}
.wrapper_bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.btn_create{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
}
.btn_edit{
    display: flex;
        flex-direction: column;
        width: 40%;
}
.edit, .register{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}
.container_back{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 5%;
}

.back{
    width: 300px;
    padding: 5% 10%;
}
}

